gcodeFullSet/*
gcodeSampleSet/*
outgcode/*
layerSampleSet/*
*/.vs/*
*/.vscode/*
*/__pycache__/

.vs/*
__pycache__/*

Debug/*
x64/*
research-code.*
callgrind.*

*.o
*.exe
*.log

~$*
test.txt
*.repOut
Main

sampleRes/*
*.chaindump
ChainLinkerTesting
tempout.txt
